<app-header />

<main>
  <div id="dashboard">

    <app-dashboard-item [data]="{img: {src: 'globe.png', alt:'A globe'}, title:'Traffic'}">
      <app-server-status />
    </app-dashboard-item>

    <app-dashboard-item [data]="{img: {src: 'status.png', alt:'A signal symbol'}, title:'Server Status'}">
      <app-traffic />
    </app-dashboard-item>

    <app-dashboard-item [data]="{img: {src: 'list.png', alt:'A list of items'}, title:'Support Tickets'}">
      <app-tickets />
    </app-dashboard-item>

  </div>
</main>